* {
	box-sizing: border-box;
}
body {
	font-family: Calibri;
	margin: 0;
}
nav {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	border: solid 2px black;
	font-size: 15px;
	padding: 10px 15px;
}
nav ul li:hover {
	background-color: black;
	color: orange;
}

nav ul a {
	text-decoration: none;
	color: black;
}

#konie {
	height: 350px;
	overflow: hidden;
	position: relative;
	background-image: url(konie.jpg);
	background-position: 50% 80%;
	background-repeat: no-repeat;
}
h1 {
	display: inline-block;
	color: white;
	background-color: black;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 30px;
}
.i  {
	display: inline-block;
	float: left;
	width: 33.3%;
	text-align: center;
	padding-top: 25px;
}
.i i {
	font-size: 25px;
}
.kropka {
	display: inline-block;
	float: left;
	width: 33.3%;
	padding-top: 25px;
}
.kropka::before {
	content: " ";
	border: solid 3px red;
	font-size: 1px;
	margin-left: 32px;
}
.kropka p {
	text-align: center;
	margin: 0px 25px 30px;
	font-size: 16px;
}

footer {
	display: block;
	clear: both;
}
footer div {
	float: left;
	width: 33.3%;
	background-color: lightgrey;
	padding: 10px 0;
}



